body{ 
    background-color: #EDF2C5;
    width:100%;
    height:100%;
    margin:0px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

header{
    width:1120px;
    margin:0px auto;
    margin-bottom:10px;
}

.head1{
    width:1120px;
    height:auto;
    display:inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

h1{
    color:#778A50;
    font-size: 44px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    line-height: normal;
    margin:0px;
}

.button{
    width:208px;
    height:24px;
    color:#778A50;
    display:inline-flex;
    justify-content:space-between;
    justify-items: center;
    align-items: center;
    text-align: right;
}

.button1{
    text-decoration: none;
    color:#778A50;
    height:19px;
    padding:4px 8px;
    display:flex;
    align-items: center;
    font-size: 14px;
    font-style:normal;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    border: 1px solid #778A50; 
    border-radius: 3px;
    margin:0px;
}

.v-line{
    border-left: 2px solid #778A50;
    height:24px;
    left: 50%;
   }

.nav{
    width:1114px;
    height:38px;
    margin:0px auto;
    background-color: #778A50;
    border-style:solid;
    border-color:#778A50;
    border-radius:3px;
}

.nav_item{
    height:38px;
    width:557px;
    display:flex;
    flex-direction: row;
    margin:0px;
    padding:0px 0px ;
    align-items: center; /*要用alighn items的話要設定height*/
    justify-content: left;
    justify-content: space-around;
}

.nav_a{
    text-decoration: none;
    color:#EDF2C5;
    font-family:'Nano Sans', sans-serif;
    font-style:normal;
    font-weight:900;
    font-size:16px;
    line-height:150%;
}

.banner{
    width:1120px;
    margin:16px auto 32px auto;
}

.container{
    width:1120px;
    margin:0px auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.head2{
    width:528px;
    height:45px;
    display:flex;
    background-color:#778A50;
    margin-bottom:16px;
    align-items: center;
    border: 1px solid #778A50;
    border-radius: 3px;
}

h5{
    font-family:'Nano Sans', sans-serif;
    color:#EDF2C5;
    font-style:normal;
    font-weight:900;
    font-size:16px;
    background-color: #778A50;
    margin:0px;
    padding-left:30px;
}

.vegetables{
    width:528px;
    height:201px;
}

.vegetables_img{
    width:528px;
    display:flex;
    justify-content: space-between;
}

.contact{
    width:528px;
    height:201px;
}

.contact_textbox{
    background-color: #F7FBDA;
    width:496px;
    height:108px;
    padding:16px;
    font-size: 12px;
    color:#7D7D7D;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    display:flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    width:100%;
    height:60px;
    margin:117px auto 0px auto;
    padding:21px auto;
    background-color: #778A50;
    font-family: Noto Sans;
    color:#EDF2C5;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}