body
{
    width: 800px;
    height: 554px;
    margin: 130px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    border: 1px solid #000000;
}

.banner
{
    width: 400px;
    height: 554px;
    
}

.right_box
{
    width: 400px;
    height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 26px;
}

.logo
{
    width: 48px;
    height:48px;
}

.title
{
    color: #000000;
    margin: 0px;
    font-family: 'Agbalumo',sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text01{
    color:#000000;
    font-family: 'Agbalumo',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin:20px 0px;
}


.text{
    font-family: 'Nunito Sans',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin:0px;
}