body{
    background-color:white;
    width:1280px;
    height:auto;
    margin:0px auto;
}
header{
    background-color:#F1E2C5;
    width:1280px;
    height:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0px;
}

.logo_box{
    width:120px;
    height:60px;
    margin:0px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width:60px;
    height:60px;
    margin:0px;
}

.logoname{
    margin:0px;
    color:#000000;
    font-family:'Agbalumo',sans-serif;
    font-size:30px;
    font-weight: 400;
    margin-left: 10px;
}

.nav{
    width:660px;
    height:60px;
    display:flex;
    flex-direction: row-end;
    justify-content: space-around;
    align-items: center;
}

.nav_items{
    width:365px;
    height:60px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.v-line{
    border-left: 2px solid #000000;
    height:18px;
    left: 50%;
}

.button{
    width:200px;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:0px 10px 0px 66px;
}

.button_items{
    border:1px solid #000000;
    border-radius: 3px;
    padding:5px 8px;
}

.button_items:hover{
    border:1px solid #000000;
    border-radius: 3px;
    padding:5px 8px;
    background-color: #F5EEE1;
}

.nav_a{
    text-decoration: none;
    color:#000000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a{
    text-decoration: none;
    color:#000000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_a:hover{
    text-decoration: none;
    color:brown;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner{
    width:1280;
    height: 438px;
    margin:0px auto; 
}

.event_title{
    color:#000000;
    font-family: 'Noto Sans',sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:20px auto;
    text-align:center;
}

.event{
    width:1280px;
    height:245px;
    margin:0px auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.event_leftbox{
    width:710px;
    height: 230px;
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color:#F5EEE1;
    padding:0px 60px;
}

.icon_list{
    height:160px;
    display:flex;
    flex-direction:column;
    margin-right:25px;
}

.icon{
    width:40px;
    height:40px;
}

.event_info_list{
    height:160px;
    display:flex;
    flex-direction: column;
}

.event_info{
    height:40px;
    text-decoration: none;
    color:#000000;
    font-family: 'Noto Sans',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    margin:0px;
    text-justify: center;
}

.event_rightbox{
    width:415px;
    height:170px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#F5EEE1;
}

.signup_box{
    width:208px;
    height:64px;
    background-color: #D5C19B;
    margin:0px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 13px;
}

.signup_a{
    text-decoration: none;
    color:#FFFFFF;
    font-family: 'Noto Sans',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup_icongroup{
    width:208px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon{
    width:40px;
    height:40px;
}

.event_detail{
   width:1280px;
   height:500px;
   background-color:#F1E2C5;
   margin:0px auto; 
    margin-bottom: 170px;
}

.event_detail_topic{
    color: #000000;
    font-family: 'Noto Sans',sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0px 0px 18px 67px;
    padding-top:25px;
}

.event_detail_text{
    width:1128px;
    color: #000000;
    font-family: Noto Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    height: normal;
    margin-left:67px;
}

footer{
    width:1280px;
    height:60px;
    position:absolute;
    background-color: #D5C19B;
    text-align:center;

}

.footer_p{
    font-family:'Nunito Sans',sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color:#FFFFFF;
}



