body
{
    width: 1280;
    height: auto;
    display: flex;
    flex-direction:column;
    margin-left: 40px;
    margin-right: 35px;
    margin-top: 0;
}

.join_body_box
{
    width: 1205px;
    height: 435px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0 auto;
}

.join_img_02
{
    width: 1280px;
    height: 300px;
    margin: 0 auto;
}

.join_leftbox{
    width: 655px;
    height: 400px;
    display: flex;
    flex-direction:column;
    background-color:#F5EEE1;
    margin-top: 20px;
    margin-bottom: 0px;
}

.join_left_container
{
    width: 558px;
    height: 185px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.join_img_01
{
    width: 655px;
    height: 204px;
}

.icon_list
{
    height: 185px;
    display:flex;
    flex-direction:column;
    margin-right:25px;
    align-items: center;
    justify-content: center;
}

.icon
{
    width:40px;
    height:40px;
}

.join_info_list
{
    height: 185px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.join_info
{
    height:40px;
    text-decoration: none;
    color:#000000;
    font-family: 'Noto Sans',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    margin:0px;
    text-justify: center;
}

.join_info_outlink{
    height:40px;
    text-decoration: none;
    color:#000000;
    font-family: 'Noto Sans',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; 
    margin:0px;
    text-justify: center;
}

.join_info_outlink:hover{
    height:40px;
    text-decoration: none;
    color:#B86049;
    font-family: 'Noto Sans',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; 
    margin:0px;
    text-justify: center;
}

.join_right_box
{
    width: 510px;
    height: 171px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.join_text_02
{
    color: #000000;
    font-family: 'Noto Sans',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-left:10px;
    margin-top: 8px;
}

.join_right_container
{
    width: 510px;
    height: 131px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5EEE1;
    margin-top: 10px;
}

.join_right_small
{
    width: 188px;
    height: 103px;
    display: flex;
    flex-direction: column;
    margin: 0;
   
}

.join_text_03
{
    width: 188px;
    height: 36px;
    flex-shrink: 0;
    background: #D5C19B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Noto Sans',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:10px;
    margin-left: 10px;
}

.join_plus
{
    width: 68px;
    height: 68px;
    margin-top: 32px;
    margin-right: 29px;
}

.join_text_04
{
    text-align: center;
    margin: 0 auto;
    width: 445px;
    height: 36px;
    background: #D5C19B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-family: 'Noto Sans',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding: 2px;
}